{% extends 'tableau_base1.html' %}
{% block tableau %}
{% load static %}
<!-- 官網的嵌入碼直接複製貼上一行，不用拆 -->
{{embed_code | safe}}
<div>
	<img alt='操作說明' border='0' width="30" height="30" style="display:scroll;position:fixed;bottom:110px;right:10px;"
		src='{% static "img/info.png" %}' onclick=desc_info() onmouseover="this.src='{% static "img/info2.png" %}'"
		onmouseout="this.src='{% static "img/info.png" %}'" />
</div>
{% endblock %}
{% block js %}
<script type='text/javascript'>
	
	var check = function () {
		var dollar = $("input[name='dollar']:checked").val();
		//console.log('dollar=',dollar);
		var date_range = $("input[name='date_range']:checked").val();
		//console.log('date_range=',date_range);
		var csrf_token = '{{ csrf_token }}';
		//console.log('csrf_token=',csrf_token);
		$.ajax({
			url: "tableau5/",
			async: true,
			data: {
				'csrfmiddlewaretoken': csrf_token,
				'dollar': dollar,
				'date_range': date_range,
			},
			type: "post",
			dataType: 'text',
			success: function (data) {
				//console.log('data=',data);
				$("#main #content").html(data);

			},
			error: function (data) {

			}
		});
	};

	var desc_info = function () {
		// 增加浮動DIV
		$('form').append("<div id='tableauDesc' onselectstart='return false'><span class='notice_title'>操作說明</span><span class='cbtn'>[關閉]</span><div class='notice_content'>1.點選右側[西元年]下拉選單可篩選年份。<br>2.點選右側[月份]下拉選單可篩選月份。<br>3.點選右側[四大類]下拉選單可篩選農、畜、林、水產品。<br>4.拉動量值—按產品別圖表右上[產品數]數值，可調整農產品排名數量。<br>5.點選右側[進出口]下拉選單可選擇進口/出口資料。<br>6.點擊量值—按產品別圖表或點選右側 [產品別]下拉選單，可篩選各產品別。<br>7.點選右側[金額單位]下拉選單可選擇金額單位。<br>8.點選右側[重量單位]下拉選單可選擇重量單位。</div></div>");
		// 更改樣式
		$('#tableauDesc').css({
			right: "0",
			bottom: "0",
			cursor: "default",
			position: "fixed",
			"background-color": "#CFDEF4",
			color: "#1F336B",
			"z-index": "900",
			border: "1px #1F336B solid",
			margin: "2px",
			padding: "10px",
			"font-weight": "bold",
			"line-height": "25px",
			display: "block"
		});
		$('#tableauDesc .cbtn').css({
			color: "#FF0000",
			cursor: "pointer",
			"padding-right": "5px",
			float: "right",
			position: "relative"
		});
		$('#tableauDesc .notice_content').css({
			margin: "3px",
			"font-weight": "normal",
			border: "1px #B9C9EF solid",
			"line-height": "20px",
			"margin-bottom": "10px",
			padding: "10px"
		});

		//繫結關閉事件
		$('.cbtn').bind('click', function () {
			$('#tableauDesc').remove();
		});
	};

	{% comment %} $(document).ready(desc_info()); {% endcomment %}
</script>
{% endblock %}