<!DOCTYPE html>  
<html lang="en">  
  <head>  
  <title>Tableau JavaScript API</title>  
  <script type="text/javascript" src="https://bigdata.moa.gov.tw/javascripts/api/viz_v1.js"></script>  
  </head>  
  <body>  
  
	<script type='text/javascript' src='https://bigdata.moa.gov.tw/javascripts/api/viz_v1.js'></script>

	<div class='tableauPlaceholder' style='width: 1200px; height: 630px;'>
            <object class='tableauViz' width='1200' height='630' style='display:none;'>

                <!-- EX. <param name='host_url' value='https%3A%2F%2Fbigdata.moa.gov.tw%2F' /> -->
                <param name='host_url' value='@Tableau URL' />

                <!-- EX. <param name='site_root' value='&#47;t&#47;Pig' /> -->
                <param name='site_root' value='&#47;t&#47;@SiteName' />

                <param name='embed_code_version' value='3' />     

                <!-- EX. <param name='name' value='PIGFARM&#47;sheet2' /> -->          
                <param name='name' value='@WorkBookName&#47;@SheetName' />

                <!-- EX. <param name="ticket" value="StfQt9V9Tcy15dqgxBBalw==:u1gb9_8L-jwYXqXqyoOaNDAt" /> -->
                <param name="ticket" value="@Ticket" /> 

                <!-- 已下參數自行修改 -->
                <param name='tabs' value='yes' />
                <param name='toolbar' value='no' />
                <param name='showAppBanner' value='false' />
                <param name='filter' value='iframeSizedToWindow=true' />

            </object>
        </div>

  </body>  
</html>  
